@charset "UTF-8";
/* CSS Document */

.container-fluid {
	max-width: 940px;
	margin: auto;
}

/*Diagnostic styling*/

.span12 {
	background-color: red;
}

.span6 {
	background-color: blue;
	float: left;
}


img {
	height: auto;
	max-width: 100%;
}